.outputContainer p{
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
}

.outputContainer {
  background-color: gray;
  width: 310px;
  height: 43px;
}

.calculatorContainer {
  position: absolute;
  left: 25%;
  top: 25%;
}