.outputContainer p {
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
}

.outputContainer {
  background-color: gray;
  width: 310px;
  height: 43px;
}

.row {
  display: flex;
}

.button {
  width: 100%;
  background: white;
  color: black;
  border: 0.1em solid #d6c9bf;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 41px;
}

.row-5 > :nth-last-child(1) {
  width: 100%;
}

.row-5 > :nth-last-child(2) {
  width: 100%;
}

.row-5 > button {
  width: 221%;
}

.row > :nth-last-child(1) {
  background-color: #f5913e;
}

.button:hover {
  background-color: rgb(255, 85, 85);
}
